*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #5faceb, #9a74e0);
    color: #fff;
    font-family: "Lato", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #9a74e0; 
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
}

form button:hover{
    background: #9a74e0;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30vw;
    list-style: none;
}

.todo {
     margin: 0.5rem;
     background: white;
     color: black;
     font-size: 1.5rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-button, 
.done-button {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.trash-button {
    background: rgb(202, 60, 35);
}

.done-button {
    background: #5ddb8d;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check {
    pointer-events: none;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotate(20deg);
    opacity: 0;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem; 
    position: relative;
    overflow: hidden;
}

select {
    color: #9a74e0;
    width: 10rem; 
    cursor: pointer; 
    padding: 1rem;
}

.select::after {
    content: "\25BC"; 
    position: absolute;
    background: #9a74e0;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3 ease;
}

.select:hover::after{
    background: #fff;
    color: #9a74e0;
}